export MYSQL_HOST=127.0.0.1
export MYSQL_DATABASE=circleci
export MYSQL_PASSWORD=test
export MYSQL_USER=ubuntu
export POSTGRES_DATABASE=circle_test
export POSTGRES_HOST=127.0.0.1
export POSTGRES_PASSWORD=test
export POSTGRES_USER=ubuntu
export SQLITE_DATABASE=./default.sqlite
#export TEST_CASSANDRA=true
export TEST_MYSQL=true
export TEST_POSTGRES=true
export TEST_SQLITE=true
